.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #2b87b8;
  border: 1px solid #2b87b8;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #004063;
  border-color: #004063;
}

@media (max-width: 768px) {
  .form {
    margin-top: 1rem;
    text-align: end;
    width: 100%;
  }
  .form button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
